<!DOCTYPE html>
{% extends 'Hospital/base.html' %}
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    {% block title %}
    Pediatric & Neonatology
    {% endblock title %}
</head>
<body>
{% block content %}
<div class="container mt-4">
    <div class="speciality">
        <div class="row text-center">
            <div class="col-12">
                <img src="{% static 'image/Speciality/Common-Banner-Header.png' %}" class="d-block w-100">
            </div>
            <h1>PAEDIATRICS & NEONATOLOGY</h1>
        </div>
        <div class="row">
            <div class="col-md-6 py-4">
                <h3><b>Dr. A. S. Deshmukh</b></h3>
                <h5><b>Pediatrician and Neonatologist</b></h5>
                <h6>MBBS, DCH, PGPN ( USA ,BOSTON), CC in TB, CC in Genetics</h6>
                <p>
                    He is qualified Senior ,experinced Pediatrician and Neonatologist has completed his MBBS
                    from Dr.V.M.goverment medical college Solapur.
                    Subsequently he has completed his training for DCH
                    and DNB from Wadia Hospital and Nanavati Hospital Mumbai.
                    He had also worked in KEM hospital Mumbai for three years.
                </p>
                <p>
                    Postgraduate Programme in Pediatric Nutrition by University of Boston USA.
                </p>
                <p>
                    Certificate Course In 'Manage TB' conducted by ICMR -
                    National Institute of Research in Tuberculosis April 2019.
                </p>
                <p>
                    Certificate Course In ' Human Molecular Genetics' conducted by IIT Kanpur in February 2020.
                </p>
                <p>
                    Adolescent and Young Adults workshop Conducted by Indian Academy of Pediatrics in 2020.
                </p>
                <p>
                    Life Member Indian Academy of Pediatrics Association of Medical Consultants, Mumbai.
                </p>
                <p>
                    He is a founder and Director of sunrise Multispeciality Hospital.
                </p>
                <p>
                    He carry with him huge amount experience in managing sick children.
                </p>
                <p>
                    He is extremely passionate , hardworking and compassionate while dealing with Children.
                </p>
                <p>
                    The fantastic results that the Hospital is consistently obtaining speaks
                    for itself in proving his mantle in the field of Pediatrics and Neonatology.
                </p>
                <h3 style="text-align:left;"><b>Area Of Expertise</b></h3>
                <ul type="square">
                    <li>New Born Care</li>
                    <li>Nutritional Assessment</li>
                    <li>Vaccination/ Immunization</li>
                    <li>Childhood Infections</li>
                    <li>Childhood Asthma and Allergy</li>
                    <li>Adolescence Guidance</li>
                </ul>
            </div>
            <div class="col-md-6 py-4">
                <h3><b>Dr. R. L. Borade</b></h3>
                <h5><b>Pediatrician and Neonatologist</b></h5>
                <h6>MBBS, DCH, PGPN (University of Boston, USA)</h6>
                <p>
                    He is a senior Pediatrician and Neonatologist having 16 years of experience in the field.
                </p>
                <p>
                    He had completed his MBBS degree from prestigious Krishna Institute of Medical Sciences Karad and
                    Diploma in Child Health from Solapur.
                </p>
                <p>
                    Completed Postgraduate Program in Pediatric Nutrition course from University of Boston, USA.
                </p>
                <p>
                    He is registered with Maharashtra Medical Council.
                    He is a Life Member of Indian Academy of Pediatrics and Association of Medical Consultants, Mumbai.
                </p>
                <p>
                    He is a founder member and Medical Director of Sunrise Multispeciality Hospital.
                </p>
                <h3 style="text-align:left;"><b>Area Of Expertise</b></h3>
                <ul type="square">
                    <li>New Born Care</li>
                    <li>Nutritional Assessment</li>
                    <li>Vaccination/ Immunization</li>
                    <li>Childhood Infections</li>
                    <li>Childhood Asthma and Allergy</li>
                    <li>Adolescence Guidance</li>
                </ul>
            </div>
        </div>
    </div>
</div>
{% endblock content %}
</body>
</html>