<!DOCTYPE html>
{% extends 'Hospital/base.html' %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    {% block title %}
    Contact
    {% endblock title %}
</head>
<body>
{% block content %}

<div class="home-contact-us">
    <div class="container mt-4">
        <div class="row text-left">
            <div class="col-12">
                <h3 class="mt-3"><b>OPENING HOURS </b></h3>
                <h4>We are open 24x7 for you in case of emergency.</h4>
                <h4>To schedule an appointment call us at:</h4>
                <p style="color:#006fb5;">022-27431050, <br>9833204833,<br> 8976031050,<br> 8928689509</p>
                <h3><b>DIRECTIONS</b></h3>
                <h5 style="color:#006fb5;font-weight: normal;">Shiv Kalpataru Arcade, Plot 1, Sector - 17, Kamothe, Navi Mumbai, Maharashtra 410206</h5>
            </div>
        </div>
    </div>
    <div class="container mapouter mt-3">
        <div class="gmap_canvas">
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3772.0667738364446!2d73.08435831454996!3d19.016779058773803!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3be7c27f6b8b3a63%3A0x39774c600cd06365!2sSunrise%20Multispeciality%20Hospital!5e0!3m2!1sen!2sin!4v1612097440209!5m2!1sen!2sin"
                    width="100%" height="500" frameborder="0" allowfullscreen=""
                    aria-hidden="false" tabindex="0">
            </iframe>
            <a href="https://yt2.org"></a><br>
        </div>
    </div>
</div>
{% endblock content %}
</body>
</html>