<!DOCTYPE html>
{% extends 'Hospital/base.html' %}
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    {% block title %}
    TPA Insurance
    {% endblock title %}
</head>
<body>
{% block content %}
<div class="tpa-insurance">
    <div class="container mt-4">
        <div class="col-12 text-center mt-2">
            <h1 class="pt-4">TPAs & Insurances</h1>
        </div>
        <div class="container mt-2">
            <h3 class="pt-4 text-center">Private Insurance</h3>
            <center>
                <hr size="7" width="33%" style="color: #ff0000">
            </center>
            <div class="row mt-4">
                <div class="col-sm-6 col-md-3">
                    <img src="{% static 'image/TPA_Insurances/aditya-birla.png' %}" title="Aditya Birla Insurance" class="w-100">
                </div>
                <div class="col-sm-6 col-md-3">
                    <img src="{% static 'image/TPA_Insurances/acko.png' %}" title="ACKO Insurance" class="w-100">
                </div>
                <div class="col-sm-6 col-md-3">
                    <img src="{% static 'image/TPA_Insurances/apollo-munich.png' %}" title="Apolo Munich Health Insurance" class="w-100">
                </div>
                <div class="col-sm-6 col-md-3">
                    <img src="{% static 'image/TPA_Insurances/bharti-axa.png' %}" title="Bharti General Insurance" class="w-100">
                </div>
            </div>

            <div class="row mt-4">
                <div class="col-sm-6 col-md-3">
                    <img src="{% static 'image/TPA_Insurances/bjaj.png' %}" title="Bajaj Allianz Insurance" class="w-100">
                </div>
                <div class="col-sm-6 col-md-3">
                    <img src="{% static 'image/TPA_Insurances/care-health-insurance.png' %}" title="Care Health Insurance" class="w-100">
                </div>
                <div class="col-sm-6 col-md-3">
                    <img src="{% static 'image/TPA_Insurances/chola.png' %}" title="Chola MS General Insurance" class="w-100">
                </div>
                <div class="col-sm-6 col-md-3">
                    <img src="{% static 'image/TPA_Insurances/Manipal-cigna.png' %}" title="Manipal Cigna Health Insurance" class="w-100">
                </div>
            </div>

            <div class="row mt-4">
                <div class="col-sm-6 col-md-3">
                    <img src="{% static 'image/TPA_Insurances/icici.png' %}" title="ICICI Lambard General Insurance" class="w-100">
                </div>
                <div class="col-sm-6 col-md-3">
                    <img src="{% static 'image/TPA_Insurances/iffco.png' %}" title="IFFCO Tokio General Insurance" class="w-100">
                </div>
                <div class="col-sm-6 col-md-3">
                    <img src="{% static 'image/TPA_Insurances/liberty.png' %}" title="Liberty Videocon General Insurance" class="w-100">
                </div>
                <div class="col-sm-6 col-md-3">
                    <img src="{% static 'image/TPA_Insurances/reliance.png' %}" title="Reliance General Insurance" class="w-100">
                </div>
            </div>

            <div class="row mt-4">
                <div class="col-sm-6 col-md-3">
                    <img src="{% static 'image/TPA_Insurances/religare.png' %}" title="Religare Health Insurance" class="w-100">
                </div>
                <div class="col-sm-6 col-md-3">
                    <img src="{% static 'image/TPA_Insurances/Royal-sundaram.png' %}" class="w-100" title="Royal Sundaram General Insurance">
                </div>
                <div class="col-sm-6 col-md-3">
                    <img src="{% static 'image/TPA_Insurances/SBI-General.png' %}" class="w-100" title="SBI General Insurance">
                </div>
                <div class="col-sm-6 col-md-3">
                    <img src="{% static 'image/TPA_Insurances/star.png' %}" class="w-100" title="STAR Health Insurance">
                </div>
            </div>

            <div class="row mt-4">
                <div class="col-sm-6 col-md-3">
                    <img src="{% static 'image/TPA_Insurances/tata.png' %}" class="w-100" title="TATA Aig Insurance">
                </div>
                <div class="col-sm-6 col-md-3">
                    <img src="{% static 'image/TPA_Insurances/Universal.png' %}" class="w-100" title="Universal Sompo General Insurance">
                </div>
                <div class="col-sm-6 col-md-3">
                    <img src="{% static 'image/TPA_Insurances/hdfc.png' %}" class="w-100" title="HDFC ERGO Health Insurance">
                </div>
                <div class="col-sm-6 col-md-3">
                    <img src="{% static 'image/TPA_Insurances/max-bupa.png' %}" class="w-100" title="Max Bupa Health Insurance">
                </div>
            </div>
            <br>
            <h3 class="pt-4 text-center">PSU Insurance</h3>
            <center>
                <hr size="7" width="28%" style="color: #ff0000">
            </center>

            <div class="row mt-4">
                <div class="col-sm-6 col-md-3">
                    <img src="{% static 'image/TPA_Insurances/new-india-insurance.png' %}" class="w-100" title="NEW INDIA Assurance Insurance">
                </div>
                <div class="col-sm-6 col-md-3">
                    <img src="{% static 'image/TPA_Insurances/oriental.png' %}" class="w-100" title="Oriental Insurance">
                </div>
                <div class="col-sm-6 col-md-3">
                    <img src="{% static 'image/TPA_Insurances/United.png' %}" class="w-100" title="United India Insurance">
                </div>
                <div class="col-sm-6 col-md-3">
                    <img src="{% static 'image/TPA_Insurances/National-insurance.png' %}" class="w-100" title="National Insurance">
                </div>
            </div>

            <br>
            <h3 class="pt-4 text-center">TPA</h3>
            <center>
                <hr size="7" width="10%" style="color: #ff0000">
            </center>

            <div class="row mt-4">
                <div class="col-sm-6 col-md-3">
                    <img src="{% static 'image/TPA_Insurances/DHFL.png' %}" class="w-100" title="DHFL Pramerica LIFE Insurance">
                </div>
                <div class="col-sm-6 col-md-3">
                    <img src="{% static 'image/TPA_Insurances/ewa.png' %}" class="w-100" title="EWA TPA">
                </div>
                <div class="col-sm-6 col-md-3">
                    <img src="{% static 'image/TPA_Insurances/Edeweiss.png' %}" class="w-100" title="Edelweiss Insurance">
                </div>
                <div class="col-sm-6 col-md-3">
                    <img src="{% static 'image/TPA_Insurances/ERICSON.png' %}" class="w-100" title="Ericson Insurance">
                </div>
            </div>

            <div class="row mt-4">
                <div class="col-sm-6 col-md-3">
                    <img src="{% static 'image/TPA_Insurances/FHPL.png' %}" class="w-100" title="FHPL Insurance">
                </div>
                <div class="col-sm-6 col-md-3">
                    <img src="{% static 'image/TPA_Insurances/Genins.png' %}" class="w-100" title="Genins India TPA Health Insurance">
                </div>
                <div class="col-sm-6 col-md-3">
                    <img src="{% static 'image/TPA_Insurances/Good-Health-TPA.png' %}" class="w-100" title="Good Health TPA Insurance">
                </div>
                <div class="col-sm-6 col-md-3">
                    <img src="{% static 'image/TPA_Insurances/Health-India.png' %}" class="w-100" title="Health India TPA Services">
                </div>
            </div>

            <div class="row mt-4">
                <div class="col-sm-6 col-md-3">
                    <img src="{% static 'image/TPA_Insurances/Heritage-Health.png' %}" class="w-100" title="Heritage Health Insurance">
                </div>
                <div class="col-sm-6 col-md-3">
                    <img src="{% static 'image/TPA_Insurances/Liberty-Videocon.png' %}" class="w-100" title="Liberty Videocon General Insurance">
                </div>
                <div class="col-sm-6 col-md-3">
                    <img src="{% static 'image/TPA_Insurances/MD-India.png' %}" class="w-100" title="MD India Healthcare Services">
                </div>
                <div class="col-sm-6 col-md-3">
                    <img src="{% static 'image/TPA_Insurances/Medi-Assist.png' %}" class="w-100" title="Medi Assist">
                </div>
            </div>

            <div class="row mt-4">
                <div class="col-sm-6 col-md-3">
                    <img src="{% static 'image/TPA_Insurances/Paramount-Health.png' %}" class="w-100" title="Paramount Health Insurance">
                </div>
                <div class="col-sm-6 col-md-3">
                    <img src="{% static 'image/TPA_Insurances/Rothshield.png' %}" class="w-100" title="Rothshield">
                </div>
                <div class="col-sm-6 col-md-3">
                    <img src="{% static 'image/TPA_Insurances/Raksha.png' %}" class="w-100" title="Raksha TPA">
                </div>
                <div class="col-sm-6 col-md-3">
                    <img src="{% static 'image/TPA_Insurances/United-Health.png' %}" class="w-100" title="United Healthcare PAREKH">
                </div>
            </div>

            <div class="row mt-4">
                <div class="col-sm-6 col-md-3">
                    <img src="{% static 'image/TPA_Insurances/Vidal-Health.png' %}" class="w-100" title="VIDAL Health Insurance">
                </div>
                <div class="col-sm-6 col-md-3">
                    <img src="{% static 'image/TPA_Insurances/Vipur-Medicrop.png' %}" class="w-100" title="Vipur Medicorp Insurance">
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}
</body>
</html>